# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# Environment variables
.env

# Database
*.db

# Model weights
*.pt

# Generated folders
outputs/
uploads/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db